{% extends "layout.html" %}

{% block title %}
    Choose package
{% endblock %}

{% block main %}
    <h3>Choose a package!</h3>
        <form action="{{ action }}_cards" method="GET">
            {% for package in packages %}
                <button type="submit" name="package_name" value="{{ package.name }}">{{ package.name }}</button>
            {% endfor %}
        </form>
    {% if action == "add" %}
        <h3>Create a new package</h3>
        <form action="/add_package" method="POST">
            <input id="Create-package" autocomplete="off" name="new_package_name" placeholder="Package name" type="text">
            <button type="submit">Submit</button>
        </form>
    {% endif %}
    <a class="homepage" href="/">Back to homepage</a>
{% endblock %}